*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: sans-serif;
}

nav{
    background-color: #2B2B2B;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 20px 70px;
}

nav ul li{
    display: inline-block;
    margin: 10px;
    margin-right: 30px;
}

nav ul li a{
    color: #fff;
    text-decoration: none;
    list-style: none;
    cursor: pointer;
}

nav ul li a:hover{
    font-weight: bold;
}

.nav-btn{
    background-color: #A259FF;
    color: #fff;
    border-radius: 15px;
    padding: 15px 40px;
    border: none;
    cursor: pointer;
    font-size: 16px;
}

section{
    background-color: #2B2B2B;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 100px 140px;
}

.nav-btn:hover{
    background-color: purple;
}

.hero-section h1{
    color: #fff;
    font-weight: 700;
    font-size: 80px;
}

.hero-section p{
    color: #fff;
    font-size: 25px;
   
}

.ext{
    display: flex;
    justify-content: space-between;
    margin-right: 50px;
}

.d1 h4{
    color: #fff;
    font-weight: 600;
    font-size: 24px;
    margin-bottom: 8px;
}

.d1 p{
    color: #fff;
    font-size: 22px;
}

i{
    margin-right: 8px;
}


